@media (max-width: 1023px) {
  header #navBar {
    ul {
      &:not(:last-of-type) {
        display: none;
      }
      > li:not(:last-of-type) {
        display: none;
      }
    }
  }
}

@media (max-width: 350px) {
  header #navBar #searchBar input,
  header #navBar #searchBar button {
    font-size: $font-s;
  }
}

// MASONRY ADUJSTMENTS

@media (max-width: 866px) {
  main #gallery article {
    width: 235px;
    .postedIMG {
      width: 235px;
    }
    .profilePicture {
      width: 100px;
      height: 100px;

      bottom: 50px;

      margin-bottom: 5px;
    }
    .downloadButton {
      left: 62px;
    }
    .date {
      right: 62px;
    }
  }
}

@media (max-width: 776px) {
  main #gallery article {
    width: 185px;
    .postedIMG {
      width: 185px;
    }
    .profilePicture {
      width: 90px;
      height: 90px;

      bottom: 45px;

      margin-bottom: 10px;
    }
    .downloadButton {
      left: 32px;
    }
    .date {
      right: 32px;
    }
  }
}
@media (max-width: 626px) {
  main #gallery article {
    width: 145px;
    .postedIMG {
      width: 145px;
    }
    .profilePicture {
      width: 80px;
      height: 80px;
    }
  }
}

@media (max-width: 626px) {
  main #gallery article {
    width: 185px;
    .postedIMG {
      width: 185px;
    }
    .profilePicture {
      width: 90px;
      height: 90px;
    }
  }
}

@media (max-width: 422px) {
  main #gallery article {
    width: 145px;
    .postedIMG {
      width: 145px;
    }
    .profilePicture {
      width: 80px;
      height: 80px;
    }
    .downloadButton {
      left: 22px;
    }
    .date {
      right: 27px;

      font-size: $font-xs;
    }
    .userName {
      font-size: $font-xs;
    }
  }
}

@media (max-width: 342px) {
  main #gallery article {
    width: 105px;
    .postedIMG {
      width: 105px;
    }
    .profilePicture {
      width: 70px;
      height: 70px;
    }
    .downloadButton {
      left: 5px;
    }
    .date {
      right: 5px;
    }
  }
}
